<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331218326304-ii52vcsvvejrqvaei49itthqnso4hs7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331218326304-ii52vcsvvejrqvaei49itthqnso4hs7b</string>
	<key>API_KEY</key>
	<string>AIzaSyAFNWtDxn0eiQGVxOQQFQYJTh2Y0eeKreo</string>
	<key>GCM_SENDER_ID</key>
	<string>331218326304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webMobrilTest</string>
	<key>PROJECT_ID</key>
	<string>webmobriltest-72218</string>
	<key>STORAGE_BUCKET</key>
	<string>webmobriltest-72218.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331218326304:ios:c62dd74dbf2a2ebc2ebd45</string>
</dict>
</plist>